@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center w-100 h-100">
    <h1 class="display-4">Bienvenido</h1>
    <p>¿Desea agregar un libro o un autor? También puede ver la lista en el menú de navegación</p>
    <div class="d-xl-flex flex-row p-3">
        <div class="w-50 autor-home">
            <a href="/Autores/Create"><h3>Crear Autor</h3></a>
        </div>
        <div class="w-50 autor-home">
            <a href="/Libroes/Create"><h3>Crear Libro</h3></a>
        </div>

    </div>
</div>
